{% extends 'base.html' %}

{% block icon %} <img src="static/sals.jpg" class="icon"> {% endblock %}
{% block content %}
    <div class="fliers_container">
        <div class="fliers_blurb">
            <p>Here are the fliers local to Kamloops grocery shopping:</p>
        </div>

        <div class="fliers_costco">
            <a href="https://www.costco.ca/warehouse-instant-savings-bc.html" target="_blank"><img src="/static/costco.png" class="banner">
        </div>
        <div class="fliers_saveon">
            <a href="https://shop.saveonfoods.com/store/1B311194/?_ga=2.146405489.439778777.1516919950-994067110.1516725629/#/circular/Weekly" target="_blank"><img src="/static/Save-On.jpg" class="banner"></a>
        </div>
        <div class="fliers_superstore">
            <a href="https://www.realcanadiansuperstore.ca/print-flyer?storeId=1522" target="_blank"><img src="/static/superstore.png" class="banner"></a>
        </div>
    </div>
{% endblock %}

{#<li><a href="https://shop.saveonfoods.com/store/1B311194/?_ga=2.146405489.439778777.1516919950-994067110.1516725629/#/circular/Weekly" target="_blank"><img src="/static/Save-On.jpg" class="flyer"></a></li>#}
{#        <li><a href="https://www.realcanadiansuperstore.ca/print-flyer?storeId=1522" target="_blank"><img src="/static/superstore.png" class="flyer"></a></li>#}
{#        <li><a href="https://www.costco.ca/warehouse-instant-savings-bc.html" target="_blank"><img src="/static/costco.png" class="flyer"></a></li>#}