{% extends 'base.html' %}

{% block icon %} <img src="static/Bag_of_Groceries.jpg" class="icon"> {% endblock %}
{% block content %}
    <div class="home_container">
        <div class="home_portrait">
            <img src="/static/RyanCross.jpg" class="portrait">
        </div>
        <div class="home_author">
            <p>
                My name is Ryan Cross. I am the author of this page, thanks for dropping by.
            </p>
        </div>
        <div class="home_project">
            <p>
                This page is a student project. It is a web app that will allow you to log in and create a grocery list. The app will send you your list as an email.
            </p>
        </div>
        <div class="home_motives">
            <p>
                I've created this project to prove to myself, potential employers and potential customers a level of competence at creating web content with python and flask.
            </p>
        </div>
        <div class="home_explore">
            <p>
                Please explore and make a grocery list for yourself. Try it from your computer, phone or tablet. If you are a person that understands code please have a look under the hood. After you've finished let me know your thoughts.
            </p>
            <p>Reach me at: ryancrosscodes@gmail.com</p>
        </div>

    </div>
{% endblock %}