{% extends 'base.html' %}
{% block icon %} <img src="static/info.png" class="icon"> {% endblock %}
{% block content %}
    <div class="info_container">
        <div class="info_frame">
            <img src="static/old_days.JPG" class="info_image">
        </div>
        <div class="tools_blurb">
            <p class="info_header">How did I get here?</p>
            <p class="info_p">My work up until recently was as an industrial electrician. This is a challenging career and it's a good way to earn but I've had my fill of that work. </p>
            <p class="info_p">I'm making the big change to working as a programmer. The logic electricians use for controls and Programmable Logic Controllers is not that different from the coding I've learned and the jump hasn't been bad.</p>
            <p class="info_p">All my studies have been online and self directed. Some of the resources I've used include:
            <ul class="info_list">
                <li>I started out with Treehouse.</li>
                <li>The Python Mastery Course on Udemy</li>
                <li>Miguel Grinburgs wonderful Flask Course</li>
                <li>A pile of other places MDN, Youtube, Stack Overflow, Grid By Example, etc etc</li>
            </ul>
            </p>
            <p class="info_p">
                Here's the topics I've studied. These are in the order I picked them up. Yeah I was breach.
            </p>
        </div>

        <div class="python_image">
            <img src="static/PYTHON.jpg" class="info_image">
        </div>
        <div class="python_blurb">
            <p class="info_header">Python.</p>
            <p class="info_p">
                I started with learning a language. Why Python? It's easy to pick up, multi-purpose, already one of the major languages and gaining in popularity. I love Python!
            </p>
        </div>

        <div class="flask_image">
            <img src="static/flasked.png" class="info_image">
        </div>
        <div class="flask_blurb">
            <p class="info_header">Flask web framework.</p>
            <p class="info_p">
                Django was certainly more popular than Flask. Flask appealed to me because it starts so small but you can grow it as large and complex as you need. I also read that starting with flask would give me a better understanding of backend programming.
            </p>
        </div>

        <div class="jinja_image">
            <img src="static/jinja_werkzeug.PNG" class="info_image">
        </div>
        <div class="jinja_blurb">
            <p class="info_header">Jinja templating and Werkzeug WSGI.</p>
            <p class="info_p">
                Flask has the great templating of Jinja. Very nice. WSGI is by Werkzeug for development and I switched that for Gunicorn for deployment.
            </p>
        </div>

        <div class="flsqa_image">
            <img src="static/flaskSQLA.jpg" class="info_image">
        </div>
        <div class="flsqa_blurb">
            <p class="info_header">FlaskSQLA: the database and ORM. </p>
            <p class="info_p">
                FlaskSQLA is the SQLAlchemy package for Flask. I began with some basics of SQL. My first try for an ORM was PeeWee and although it is wonderfully simple there just wasn't enough information available on it. I went next to SQLAlchemy. It's a huge, difficult, exacting package and I payed dearly for the understanding I have. I'm glad I didn't chicken out and go with a no-sql database. I used Postgresql in my database and I am playing with Dbeaver as a gui tool.
            </p>
        </div>

        <div class="wtforms_image">
            <img src="static/wtforms.png" class="info_image">
        </div>
        <div class="wtforms_blurb">
            <p class="info_header">Flask wtforms</p>
            <p class="info_p">
                Flask starts small and you add on as you need functionality. To handle user forms I use wtforms.
            </p>
        </div>

        <div class="flaskmail_image">
            <img src="static/flask-mail.png" class="info_image">
        </div>
        <div class="flaskmail_blurb">
            <p class="info_header">Flaskmail.</p>
            <p class="info_p">
                Flaskmail is the flask package that deals with SMTP and e-mail.
            </p>
        </div>

        <div class="htmlcss_image">
            <img src="static/html css.png" class="info_image">
        </div>
        <div class="htmlcss_blurb">
            <p class="info_header">The basics.</p>
            <p class="info_p">
                Believe it or not I came to these last! I needed to structure the content on the pages I was building and I got drawn in. When I had just started I looked at layout and was repulsed. It was floats etc etc. When I really got into web pages I discovered CSS Grid. What a wonderful bit of gear.
            </p>
        </div>

        <div class="vcs_image">
            <img src="static/git.jpg" class="info_image">
        </div>
        <div class="vcs_blurb">
            <p class="info_header">Git and Github for version control.</p>
            <p class="info_p">
                I'm still learning this. Working alone on small projects doesn't necessitate the use of VCS. I'm doing it as an exercise knowing it will be helpful when I'm a more advanced programmer. I've got the bash basics using the git-bash shell on my windows machine. I try not to go straight to them VCS functionality in the IDE!
            </p>
        </div>

        <div class="future_image">
            <img src="static/pycharm.png" class="info_image">
        </div>
        <div class="future_blurb">
            <p class="info_header">IDEs</p>
            <p class="info_p">
                I began python programming on the shell. Next step was the educational IDE for
                python "Thonny". Eventually I got Pycharm. Thats where I like to work now. I also really like Atom, that's what I used for learning HTML & CSS.
            </p>
        </div>

        <div class="future_image">
            <img src="static/raygun.jpg" class="info_image">
        </div>
        <div class="future_blurb">
            <p class="info_header">What next?</p>
            <p class="info_p">
                I'm going to learn some Javascript next. Photoshop is on the list. Mostly I want to revisit everything I've learned already and really get good at it.
            </p>
        </div>
        <div class="">

        </div>
        <div class="">

        </div>
    </div>


{% endblock %}